.anbindungP1{
    color: #FFFFFF;
    font-family:'GraphitRegular';
    text-align: right;
    padding: 0;
    margin: 0;

}
.anbindungP2{
    color: #F8C05E;
    font-family:'GraphitRegular';
    text-align: right;
    padding: 0;
    margin: 0;

}
.anbindungTitle1{
    color: #F8C05E;
    font-family:'GraphitRegular';
    padding: 0;
    margin: 0;


}
.anbindungTitle2{
    color: #303340;
    font-family:'GraphitRegular';
    padding: 0;
    margin: 0;

}
.AnbindungBg{
    background-image: url(../../assets/svg/anbindung.svg) ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 100%;
    min-height:25rem;
    
}

.EntfernungenBg{
    background-image: url(../../assets/svg/entfernungen.svg) ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width:100%;
    min-height: 25rem;
}
.topTtile1{
    padding: 3rem 0 10px 0;
    font-family: 'Ostbahnhof';
    color: #F8C05E;
    font-size: 2rem;
    text-align: center;
}

.topTtile2{
    padding: 3rem 0 0px 0;
    font-family: 'Ostbahnhof';
    color: #F8C05E;
    font-size: 2rem;
    text-align: center;
}
.table{
    width: 75%;
    margin: 1rem auto;
    padding: 1rem;
}
td{

    padding: 0;
    margin: 0;
}
tr{
    line-height: 1rem;
    margin: 0 2rem;
}
.Pagination{
    position: absolute;
    bottom: 15%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
   
}
.Anbindungobjekt{
    background-image: url(../../assets/svg/anbindungobject.svg) ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    width:100%;
    max-height: 8rem;
    margin-left: -40px!important;
}
.container{
    margin-top: 30px;
    min-height: 50vh;
}
.Root{
    width:100%;
    min-height:50vh;
    background-image: url(../../assets/images/BerlinBgCounter.png);
    background-size: cover;
    background-position: center bottom;
    left: 0%;
    background-repeat: no-repeat;
}