.title{
  
    color: #DFA629 !important;
    text-align: center;
    font-size: 4rem!important;
   }


   .img1{
        min-width: 6rem;
   };
   .img2{ 
        margin: 8rem 0px  0px -5rem;
        min-width: 6rem;
    };
   .text1{ padding: 4rem 2rem 2rem 2rem };
   .text2{padding: 12rem 2rem 2rem 2rem};
   .root{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 3rem 0rem 10rem 0rem; 
      
    }
    .container{
        padding-top: 7rem;
    }

   @media only screen and (max-width: 600px) {
    .root{
        padding-top: 4rem;
    }

    .title{
        font-size: 2.7rem!important;
       }
    .text1{ padding: 2rem 2rem 2rem 2rem }
    .text2{padding: 10rem 2rem 2rem 2rem }
    .space{padding: 0rem}
    .img2{ margin: 8rem 0px  0px -16rem;
        min-width: 6rem;
        };
   }