.logoContainer
{
    margin-top: -20%!important;
    max-width: 100% ;
    text-align: center ;

}
.Biglogo{
    width: 16%;
    text-align:center;
}

.Container{
    min-height: 90vh;
    margin-top: 64px;
}



@media only screen and (max-width: 600px) {
    .logoContainer
    {
       
        max-width: 100% ;
        text-align: center ;

    }
    .Biglogo{
       
        width: 43%;
        text-align:center;

    }
    }     