 .Container {position: relative;
             width: 100%;
    }

  .PlayButton{
    position: absolute!important;
    top: calc( 50% - 20px )!important;
    left: 50%!important;
    width:  90px !important;
    height:  104px !important;
    transform: translate(-50%,  -50%)!important;
    text-align:  center ;
    line-height: 1;
    background-image: url('../../assets/svg/playButton.svg');
    background-repeat: no-repeat;
  }

  @media only screen and (max-width: 600px) {
    .PlayButton{
        width:  47px !important;
        height:  52px !important;
        top: 52%!important;
        left: 53%  !important;
        transform: translate(-50%,  -50%)!important;
   }
   .Container {position: relative;
    width: 100%;
    padding-top: 3rem;
    }

}