$primaryColor:  #303340;
$secondaryColor:  #DFA629;
h1,h2{
  color:$primaryColor;
}  
h3{
  color:$primaryColor;
  font-family: 'Ostbahnhof';
  letter-spacing: 0.05rem;
}
p{
  line-height:  1.75rem;
  color:$primaryColor;
}
a{
  text-decoration: none;
  color: $secondaryColor;
  padding: 10px;
}
a:hover{
  background: rgba($color: #FFFFFF, $alpha: 0.3);
}

ul{

}
