.root{
      width: 100%;
      background-image: url(../../assets/svg/TextTitleBg.svg) ;
      background-size: cover;
      background-size:100% 100%;
      background-repeat: no-repeat;
      margin-top: -30vh;
}
.FirstTitle{
    margin: 0;
    font-size: 4rem!important;
    color: #303340 !important;
    line-height: 1 !important;
}
.SecondTitle{
    font-size: 4rem!important;
    margin:  0  0  0 8.33% !important;
    color: #DFA629 !important;
    line-height: 1 !important;
}
.TitleWrap{
    margin-top: 30vh;
    padding: 0; 
}


@media only screen and (max-width: 600px) {
    .root{
        width: 100%;
        min-height: 20vh;
        background-image: url(../../assets/svg/TextTitleBg.svg) ;
        background-size: cover;
        background-size:100% 100%;
        background-repeat: no-repeat;
        margin-top: -40vh;
  }
    .FirstTitle{
        font-size: 3rem!important;
        line-height: 1 !important;
    }
    .SecondTitle{
        font-size: 3rem!important;
        margin:  0!important;
        color: #DFA629 !important;
        line-height: 1 !important;
    }
    .TitleWrap{
        padding:0 0; 
        margin-top: 20vh;
    }
    
   
  }